* {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

.accordion .one-links,
.accordion .two-links,
.accordion .three-links,
.accordion .four-links {
	display: none;
}

.accordion .one-one-links,
.accordion .one-two-links,
.accordion .one-three-links,
.accordion .two-one-links,
.accordion .two-two-links,
.accordion .two-three-links,
.accordion .three-one-links,
.accordion .three-two-links,
.accordion .three-three-links,
.accordion .four-one-links,
.accordion .four-two-links,
.accordion .four-three-links {
	display: none;
}

.accordion button:not(#one-btn):not(#two-btn):not(#three-btn):not(#four-btn) {
	border: 1px solid #fff;
}

footer {
	margin-top: 50px;
	margin-bottom: 50px;
}